{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ name }} is Beautiful !</h1>

    {#
        {% - do something
        {{ - affiche
        {# - commentaire twig
    #}
{% endblock %}






