{% extends 'base.html.twig' %}

{% block title %}Recent articles{% endblock %}

{% block body %}
<div class="container mx-auto text-gray-700">
    <h1 class="text-center text-4xl font-semibold mt-12">Recent articles</h1>

    {% for article in articles %}
        <div class="mt-20 text-left flex flex-col">
            <h3 class="font-semibold text-2xl">{{ article.title }}</h3>
            <div class="flex">
                <p class="flex-1">{{ article.preview }}</p>
                <a class="ml-6 text-indigo-500" href="{{ path('article_show', {'slug': article.slug}) }}">Read more</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
